.container-user-list{
    position: absolute;
    background:rgb(235, 233, 233) ;
    border-radius: 7px;
    left: 8px;
    width: 400px;
    height: 500px;
}

#button-toggle-color{
    position: absolute;
    left: 70px;
    bottom: 7px;
    border: none;
    border-radius: 7px;
    background-color: #008CBA;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}