.container-user-list{
    display: flex;
    flex-direction: column;
    background:rgb(235, 233, 233) ;
    border-radius: 7px;
    margin-top: 3vh;
    left: 8px;
    width: 400px;
    height: 80%;
}

.div-list-items{
    background:rgb(255, 255, 255) ;
    border-radius: 7px;
    top: 20vh;
    left: 8px;
    width: 350px;
    height: 50px;
}

#button-toggle-color{
    width: 90%;
    bottom: 7px;
    border: none;
    border-radius: 7px;
    background-color: #008CBA;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 2px 20px 20px;
    cursor: pointer;
}