form{
    border-radius: 7px;
    position: relative;
    top: 10vh;
    left: 37vw;
    width: 30vw;
    height: 52vh;
    background: rgb(231, 231, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label{
    position: relative;
    top: 9.5vh;
    left: 0.8vw;
}

input{
    position: relative;
    top: 8vh;
    left: 0.8vw;
    width: 95%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.text-danger{
    position: relative;
    top: 8vh;
    left: 0.8vw;
    color: red;
    background-color: #ffe2e2;
    border: solid red 1.5px;
    padding: 8px 16px;
    border-radius: 3px;
}

.login-button{
    position: absolute;
    left: 10.5vw;
    bottom: 1.8vh;
    border: none;
    border-radius: 7px;
    background-color: rgb(71, 211, 111);
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.sign-in{
    position: absolute;
    z-index: 2;
    top: 20vh;
    left: 38vw;
}

/* CSS for trueTemplate **/

.logout-form{
    border-radius: 7px;
    position: relative;
    top: 10vh;
    left: 37vw;
    width: 30vw;
    height: 52vh;
    background: rgb(231, 231, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logout-text{
    position: relative;
    top: 22vh;
    left: 8vw;
}

.logout-button{
    position: absolute;
    left: 10.5vw;
    bottom: 1.8vh;
    border: none;
    border-radius: 7px;
    background-color: rgb(255, 86, 86);
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}