<ng-container *ngIf = "checkLocalStorage() == true; then trueTemplate; else falseTemplate"></ng-container>

<ng-template #falseTemplate>

<div class="sign-in">
  <h3>Sign In</h3>
</div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    
    <label for="loginUser">Email</label>
    <input type="email" 
          name="email" 
          ngModel
          requiered
          #email="ngModel" 
          class="form-control" 
          id="email"
          [(ngModel)]="adminLogin.email"
          placeholder="Email...">

    <label for="loginPassword">Password</label>
    <input type="password"
          name="password"
          ngModel
          required
          #password="ngModel"
          class="form-control" 
          id="login-password"
          [(ngModel)]="adminLogin.password"
          placeholder="Password...">

    <button type="submit" [disabled]="f.invalid" class="login-button">Sign in</button>
  </form>

</ng-template>

<ng-template #trueTemplate>
  <div class="logout-form">
    <h3 class="logout-text">You are now logged in!</h3>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
</ng-template>
